.full-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}

.order-container{
    position: sticky;
    top:0;
}

.btn-select, .btn-remove{
    padding: 10px;
    border: 1px solid crimson;
    background-color: #1b2533;
    color: crimson;
    font-weight: bold;
}